
a:link 		{color:#C16306;text-decoration: none} 
a:visited 	{color:#C16306;text-decoration: none}
a:hover 	{color:#CB8743;text-decoration: none}
a:active 	{color:#C16306;text-decoration: none}

#phone		{width:100%;margin-top:60px;margin-bottom:30px;background-image:url("phone 60.jpg");background-position:left top;background-repeat:no-repeat}
#phonenumber {padding-top:10px;margin-bottom:0px;padding-left:100px;font-size:21px;font-weight:normal;letter-spacing:0px;color:#16647B}
#timezones	{width:60%;margin-top:10px;margin-bottom:0px;padding-left:100px;font-size:15px;color:#A0B8C0;line-height:170%}
#mail		{margin-top:24px;margin-bottom:0px;padding-left:100px;font-size:21px;font-weight:normal;letter-spacing:0px;color:#16647B}
#orangephone {font-size:21px;font-weight:normal;letter-spacing:0px;color:#C16306}
